@import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wght@100;400;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  body{
     overflow-x: hidden; 
    max-width: 100vw;
    font-family: 'Anek Odia', sans-serif;
  }

.info{
    padding: 0 0rem 1rem 0rem;
    background-color: transparent;
    text-align: center;
    
}
.info form{
    margin: 1rem;
}

.info form input{
    border: 1px solid #dcd9d9;
    width:70vw;
    flex: 1 1;
    font-size: .9rem;
    padding: 1rem;
    
}

.info form button{
    background:  var(--red);
    border: none;
    color: #fff;
    font-size: 1.1rem;
    height: 3.1rem;
    line-height: 1;
    width: 4rem;
}

.fluid{
    width:100%;
    background:  var(--red);
}
.categories{
    display: flex;
    background-color: transparent;
    width:80% ;
    margin:auto;
    justify-content:center;
}

.categories button{
    background:  var(--red);
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.1rem;
    padding:0.5rem 3rem;
}
.categories button:hover{
    background: var(--darkred);

}
.fixed{
    position:absolute;
    z-index: 999;
}
.ProductContainer{
    background-color: white;
    min-height: 100vh;
    width: 100vw;
 
}
.new-list{
    display: flex;
    width: 90vw;
    margin:auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;    
}

.new-list li{
    box-sizing: border-box;
    background-color: rgba(245, 234, 234,0.2);
    padding: 2rem 1rem;
    margin: 0rem;
    min-height: 10vh;
    list-style: none;
    width:25%;
}
.new-list li:hover{
    background-color: rgba(233, 233, 233, 0.8);
}
.new-list li img{
    max-height: 10rem;
}
.card-image{
    margin: auto;
    justify-content: center;
}



.card-info{
    color: black;
    text-decoration: none;
}
.link{
    text-decoration:none;
}

.card-info p{
    text-align: center;
}

.card-info h3{
color:var(--green);
font-weight:500;
}

.card-info button{
    background: var(--red);
    border-radius: 50%;
    bottom: 30px;
    color: #fff;
    font-size: 1.3rem;
    height: 50px;
    line-height: 0;
    position: absolute;
    right: 30px;
    width: 50px;
    border: none;
}
