*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden; 
max-width: 100vw;
}
.navbar{
color:white;
}

nav{
    display: flex;
    width:100vw;
    align-items: center;
    justify-content: space-between;
}

nav strong{
    color: var(--red);
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    width: 40vw;
    padding: 1rem;
}

nav button, i {
    background: var(--red);
    border: none;
    outline: 0em; 
    cursor:pointer;
    padding: 0.2em 1rem;
    color: white;
    font-size: 1rem;
    margin:0;
}

nav form input{
    padding:0.5em 1rem;
    border:none;
    margin:0.1rem;
}
.loginError{
    color:black;
    background-color: white;
    position:absolute;
    width:50vw;
    height: 10rem;
    top:5rem;
    padding: 2rem;
    left:25vw;
    -webkit-box-shadow: -1px 4px 26px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 4px 26px 0px rgba(0,0,0,0.75);
box-shadow: -1px 4px 26px 0px rgba(0,0,0,0.75);
}