*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
   overflow-x: hidden; 
  max-width: 100vw;
}
nav{
  padding: 1rem 3rem;
  background-color: yellow;
}
.App {
  background-color: #282c34;
  width:100vw;
  min-height: 100vh;
}


