*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
   overflow-x: hidden; 
  max-width: 100vw;
}
:root{
  --green:#0BB126;
  --yellow:#FFEA48;
  --red:#5036c2;
  --darkred:#318cc0;
  --blue:#04215B;
}
nav{
  padding: 1rem 3rem;
  background-color: rgba(20, 188, 230, 0.945);
}
.App {
  background-color: rgb(58, 54, 51);
  width:100vw;
  min-height: 100vh;
}

